.sidebar-menu {
 
    border-radius: 3px;
    width: 450px;
    height: 100vh;}
.content-area{
    width: 100%;
    max-width: 1000px; 
}
.app-content {
  flex: 1 1 auto;    
  width: 100%;
  min-width: 0;   
  padding: 16px;
  box-sizing: border-box;
}
.app-content{
    background-color: rgb(231, 231, 231);
}