// .img-banner {
//       color: rgb(77, 77, 77);
//         border: 1px solid;
//         width: 23000px;
//         max-width: 100%;
//         height: 50vh;
//         margin: 20px 10px 10px 10px;
// }
// .card-list{
//         color: rgb(77, 77, 77);
//         border: 1px solid;
//         width: 23.33%;
//         max-width: 100%;
//         height: 30vh;
//         margin: 5px 5px 5px 5px;
//         border-radius: 40px;
// }
// .game-img {
//   width: 200px;
//   height: auto; /* รักษาอัตราส่วน */
// }

 