<!-- <div class="container" >
  <div class="row">
    <div class="col-lg-12 img-banner"></div>
    <div class="col-lg-3 text-center card-list">
      <div class="">
        <span class="">TEXT CENTER</span>
      </div>
    </div>
    <div class="col-lg-3 card-list">
      <span class="">TEXT CENTER</span>
    </div>
    <div class="col-lg-3 card-list">
      <span class="">TEXT CENTER</span>
    </div>
    <div class="col-lg-3 card-list">
      <span class="">TEXT CENTER</span>
    </div>
  </div>
</div>

<div class="flex" style="background-color: antiquewhite">
  <div class="col-lg-6">ddddddd</div>
  <div class="col-lg-6">dddddddd</div>
</div> -->

<div class="container bg wght">
  <div
    class="row"
    style="background-color: aqua !important ; width: 1000px"
  ></div>
</div>
